<script src="/static/core/overtimeDeclined.js"></script>
<div class="col-md-12">
    <section class="panel" id="formLeave">
        <div class="panel-body">
            
            <div class="col-md-12">
                <p>You had been declined Leave Request Please give reason</p>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" data-bind="value:resManDec.reason"></textarea>
            </div>
            <div class="col-md-12" style="padding-top: 18px;">
                    <button class="btn btn-sm btn-flat btn-success" onclick="declineReason()">Send Reason</button>
            </div>
            
        </div>
    </section>
</div>