<!-- <script src="/static/core/responsemanager.js"></script> -->
<div class="col-md-12">
    <section class="panel" id="formLeave">
        <div class="panel-body">
            <p>You already made the Approval cancel leave on request</p>
        </div>
    </section>
</div>

</section>

<script>
$(function(){
    getParam();
});

getParam = function(){
    model.isLoading(true);
    var urlParams = new URLSearchParams(window.location.search);
    // console.log(urlParams.get('IdManager'));
    param ={
        Param:urlParams.get('param'),
		Reason:"",
    }
    url = "/mail/responseapprovecancel";
    ajaxPost(url, param, function(res){
        if(res.IsError == true){
            swal("info", res.Message, "info");
        }
        model.isLoading(false);
        setTimeout(function(){window.close()}, 5000)
    });
}
</script>