<!-- <script src="/static/core/resetpassword.js"></script> -->
<script src="{{NoCacheUrl "/static/core/resetpassword.js"}}"></script>
<div class="col-md-12">
    
</div>

<!-- Modal -->
<div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalResetPassword" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Forgot Password ?</h4>
            </div>
            <div class="panel-body">
              <div class="col-md-12">
                <div id="resetPasswordForm">
                  <div class="row" style="padding-top:12px;">
                    <p>Enter your new password below to reset your password.</p>
                    <input type="password" placeholder="password" autocomplete="off" class="form-control placeholder-no-fix" required data-email-msg="Email format is not valid" data-bind="value: reset.password" required>
                  </div>
                  <div class="row" style="padding-top:12px;">
                    <p>Confirm your password</p>
                    <input type="password" placeholder="confirm password" autocomplete="off" class="form-control placeholder-no-fix" required data-email-msg="Email format is not valid" data-bind="value: reset.confirmPass" required>
                  </div>
                  <!-- <div data-bind="visible:model.modalProcessing()"> -->
                  </div>
                </div>
                <div class="col-md-12" style="padding-top:12px;">
                    <div class="row" style="float: right;">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button" onclick="resetPassword();">Submit</button>
                    </div>
                </div>
              </div>
            </div>
            
        </div>
    </div>
</div>
<!-- modal -->
